= header %{Edit "#{@site.name_was}"}

#content
  = render "form"

  %h2 Tracking code

  = render "tracking_code"

  %p= button_to "Remove this site", @site, :method => :delete,
                :confirm => "Are you sure? There is no going back!"
