!!!
%html
  %head
    %title Snowfinch
    = stylesheet_link_tag "screen.css", :media => "screen, projection"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body{ :id => body_id }
    %header
      %h1
        %a{ :href => "/" } Snowfinch
      - if user_signed_in?
        = navigation do
          = navigate_to :sites, "Sites", sites_path
          = navigate_to :users, "Users", users_path
          = navigate_to :account, "Account", edit_account_path
          %li= link_to "Sign out", destroy_user_session_path
    - if notice
      #flash.notice= notice
    - if alert
      #flash.alert= alert
    #container
      = yield(:header)
      = yield
    %footer
